extends ../temp/main
block content

	include ../blocks/title
				
	//BEGIN work
	.work
		.wrap
			section.work_main
				header
					h2.work_titl Испытай будущее прямо сейчас!
				p VR Pass — клуб виртуальной реальности в Москве. Мы поможем погрузиться в виртуальный мир и получить незабываемые ощущения!
				footer.work_links
					a.gb-butt.gbpop(href="#") Записаться на игруsadf
					a.gb-butt.__grey(href="#") Смотреть видеоasdf
	//END work
		