

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Document
  body
    div.wrapper
      header.header
      .container
        include pug/inc.pug
        ul 
          li Далеко далеко
          li
            a(href="#") link 
          li 
            |
            |
            a(href="#") 1
            |
            |
            a(href="#") 2
            |
            |
            a(href="#") 3
          li
          li  
      footer#footer.footer