extends includes/head.pug 
block title 
  title Page A
prepend css
block content
  include includes/menu.pug
  h1 This is page Asss
  include includes/test.pug

  -var a = 1
  -if(a>0)
    p yep!
  -else
    p nope..

  - for (var x = 0; x < 5; x++)
    li item#{x+1}

  - var title = "On Dogs: Man's Best Friend";
  - var author = "enlore";
  - var theGreat = "<span>escape!</span>";

  h1= title
  p Written with love by #{author}
  p This will be safe: #{theGreat}